
<div fxLayout="row wrap" fxLayoutAlign="start " class="grid">
  <ng-container *ngFor="let carro of carros" style="margin: 0.5%">
    <mat-card class="example-card"
    >
      <mat-card-header>
        <mat-card-title> {{carro.modelo}}</mat-card-title>
        <mat-card-subtitle>{{carro.marca}} - {{carro.ano}}</mat-card-subtitle>
      </mat-card-header>
      <img class="img-carro" title="Expandir imagem" mat-card-image src="{{carro.imagem_path}}" alt="Photo of  {{carro.marca}} {{carro.modelo}}" (click)="abrirImagem(carro.imagem_path)">
        <mat-card-content>
          <p>
            {{carro.quilometragem}} Km
          </p>
          <p>
            Status: {{carro.status}}
          </p>
          <p>
            Placa: {{carro.placa}}
          </p>
          <p>
            Diária: R$ {{carro.diaria}}
          </p>

        </mat-card-content>
        <mat-card-actions fxLayout="row wrap" fxLayoutAlign="center end">
          <button mat-icon-button title="Alugar carro" (click)="confirmarDevolver(carro)">
            <mat-icon>lock</mat-icon>
          </button>
        </mat-card-actions>
    </mat-card>
  </ng-container>
</div>

