<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <button mat-icon-button routerLink="/" >
    <mat-icon> home </mat-icon>
  </button>
  Aluguel de carros 100% atualizado 2023 (funcionando)
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <button class="home-icon" mat-button class="menu-button" routerLink="/">
      <mat-icon>home</mat-icon>
      <span class="home-icon" >Home</span>
    </button>
    <button class="home-icon" mat-button class="menu-button" routerLink="/carro">
      <mat-icon>directions_car</mat-icon>
      <span class="home-icon" >Carros</span>
    </button>
    <button class="home-icon" mat-button class="menu-button" routerLink="/cliente">
      <mat-icon>person</mat-icon>
      <span class="home-icon" >Clientes</span>
    </button>
    <button class="home-icon" mat-button class="menu-button" routerLink="/aluguel">
      <mat-icon>calendar_today</mat-icon>
      <span class="home-icon">Aluguéis</span>
    </button>
    <button class="home-icon" mat-button class="menu-button" routerLink="/tipo"
            *ngIf="securityService.hasRoles('ROLE_ADMIN')">
      <mat-icon>commute</mat-icon>
      <span class="home-icon" >Tipos</span>
    </button>
    <button class="home-icon" mat-button class="menu-button" (click)="mostrarSobre()">
      <mat-icon>info</mat-icon>
      <span class="home-icon" >Sobre</span>
    </button>

    <mat-divider class="home-icon" ></mat-divider>

    <button  mat-button class="menu-button" (click)="mostrarAjuda()">
      <mat-icon class="home-icon" >help</mat-icon>
      <span class="home-icon" >Ajuda</span>
    </button>

    <button class="home-icon" mat-button class="menu-button" (click)="sair()">
      <mat-icon>logout</mat-icon>
      <span class="home-icon" >Sair</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
