<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="formCliente">
    <h1>Formulário para {{acao}}</h1>
    <mat-form-field>
      <mat-label>Nome:</mat-label>
      <input matInput formControlName="nome" >
      <mat-error *ngIf="handleError('nome', 'required')">
        O ano do nome do tipo é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descrição:</mat-label>
      <textarea matInput formControlName="descricao">
      <mat-error *ngIf="handleError('descricao', 'required')">
        A descrição do tipo é obrigatório
      </mat-error>
      </textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>

