<section class="example-container mat-elevation-z8" tabindex="0">
  <button mat-raised-button color="primary" [routerLink]="['/carro','novo']">
    <mat-icon>add</mat-icon>
    <span>Adicionar</span>
  </button>
  <table mat-table [dataSource]="carroListaDataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="modelo">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Modelo </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.modelo}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Placa </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.placa}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="ano">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Ano </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.ano}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="cor">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Cor </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.cor}} </td>
    </ng-container>

    <ng-container matColumnDef="quilometragem">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Quilometragem </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.quilometragem}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Status </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="diaria">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Diária </th>
      <td mat-cell class="coluna" *matCellDef="let element"> {{element.diaria}} </td>
    </ng-container>

    <!-- Ação Column -->
    <ng-container matColumnDef="acao">
      <th mat-header-cell class="coluna" *matHeaderCellDef> Ação </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button *ngIf="element.status == 'Alugado'" (click)="confirmarDevolver(element)">
          <mat-icon *ngIf="element.status == 'Alugado'">lock</mat-icon>
        </button>
        <button mat-icon-button *ngIf="element.status == 'Disponível'" [routerLink]="['/carro',element.placa,'aluguel']">
          <mat-icon *ngIf="element.status == 'Disponível'">lock_open</mat-icon>
        </button>
        <button mat-icon-button (click)="confirmarExcluir(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['/carro',element.placa]">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="colunasMostrar; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: colunasMostrar;"></tr>
  </table>
</section>
