.spinner{
  font-color: #7b1fa2;
  fill: rgba(0,0,0,0);
}
.mat-mdc-dialog-surface .mdc-dialog__surface{
  background-color: rgba(0,0,0,0)!important;
}
.mdc-dialog__container{
  box-shadow: rgba(0,0,0,0)!important;
}
