<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div class="formCarro">
    <h1>Formulário para {{acao}}</h1>
    <mat-form-field>
      <mat-label>Modelo:</mat-label>
      <input matInput formControlName="modelo">
      <mat-error *ngIf="handleError('modelo', 'required')">
        O modelo do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cor:</mat-label>
      <input matInput formControlName="cor">
      <mat-error *ngIf="handleError('cor', 'required')">
        A cor do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Ano:</mat-label>
      <input matInput formControlName="ano" type="number" min="2000" max="2024">
      <mat-error *ngIf="handleError('ano', 'required')">
        O ano do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quilometragem:</mat-label>
      <input matInput formControlName="quilometragem" type="number" min="0">
      <mat-error *ngIf="handleError('quilometragem', 'required')">
        A quilometragem do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Diária:</mat-label>
      <input matInput formControlName="diaria" type="number" min="0">
      <mat-error *ngIf="handleError('diaria', 'required')">
        A diária do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="acao == 'Incluir'">
      <mat-label>Placa:</mat-label>
      <input matInput formControlName="placa">
      <mat-error *ngIf="handleError('placa', 'required')">
        A placa do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="acao == 'Editar'">
      <mat-label>Placa:</mat-label>
      <input matInput formControlName="placa" readonly>
      <mat-error *ngIf="handleError('placa', 'required')">
        A placa do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Salvar</button>
  </div>
</form>

