.formCarro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  font-family: Arial;
  margin: 0px;
}

mat-form-field{
  margin-right: 50px;
}

.div_block{
  width: 100%;
}

.div-carro{
  width: 100%;
}

h1{
  color: white;
}

.align-right{
  text-align: right;
}

mat-form-field{
  width: 212px;
}

.btn-imagem{
  margin-bottom: 40px;
  width: 212px;
}

.imagem-selecionada{
  margin-top:80px;
  margin-bottom: 10px;
  border: 2px solid #949494;
  border-radius: 2px;
}

.dados-form{
  width: 100%;
}

.botoes-form{
  width:100%;
}
