<form
  [formGroup]="formGroup"
  (ngSubmit)="onSubmit()"
  class="form"
>
  <div fxLayout="row">
  <div class="formCarro" fxLayout="column wrap">
    <h1>Formulário para {{acao}}</h1>
    <div class="dados-form" fxLayout="row wrap" fxLayoutAlign="start space-evenly">
    <div class="div-carro" fxLayoutAlign="start center">
    <mat-form-field>
      <mat-label>Marca:</mat-label>
      <input matInput formControlName="marca">
      <mat-error *ngIf="handleError('marca', 'required')">
        A marca do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Modelo:</mat-label>
      <input matInput formControlName="modelo">
      <mat-error *ngIf="handleError('modelo', 'required')">
        O modelo do carro é obrigatório
      </mat-error>
    </mat-form-field>
    </div>
    <div class="div_block">
    <mat-form-field>
      <mat-label>Cor:</mat-label>
      <input matInput formControlName="cor">
      <mat-error *ngIf="handleError('cor', 'required')">
        A cor do carro é obrigatório
      </mat-error>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Tipo:</mat-label>
        <mat-select formControlName="tipo_id">
          <mat-option>Selecione</mat-option>
          <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">{{tipo.nome}}</mat-option>
          <mat-option (click)="openDialog()">Adicionar tipo</mat-option>
        </mat-select>
        <mat-error validationMessage>    </mat-error>
      </mat-form-field>
    </div>
    <div class="div_block">
    <mat-form-field>
      <mat-label>Ano:</mat-label>
      <input matInput formControlName="ano" type="number" min="2000" max="2024">
      <mat-error *ngIf="handleError('ano', 'required')">
        O ano do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Quilometragem:</mat-label>
      <input matInput formControlName="quilometragem" type="number" min="0" placeholder="0">
      <span matTextSuffix>Km</span>
      <mat-error *ngIf="handleError('quilometragem', 'required')">
        A quilometragem do carro é obrigatório
      </mat-error>
    </mat-form-field>
    </div>
    <div class="div_block">
    <mat-form-field>
      <mat-label>Diária:</mat-label>
        <input matInput formControlName="diaria" type="number" class="align-right" placeholder="0">
        <span matTextPrefix>R$&nbsp;</span>
      <mat-error *ngIf="handleError('diaria', 'required')">
        A diária do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="acao == 'Incluir'">
      <mat-label>Placa:</mat-label>
      <input matInput formControlName="placa">
      <mat-error *ngIf="handleError('placa', 'required')">
        A placa do carro é obrigatório
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="acao == 'Editar'">
      <mat-label>Placa:</mat-label>
      <input matInput formControlName="placa" readonly>
      <mat-error *ngIf="handleError('placa', 'required')">
        A placa do carro é obrigatório
      </mat-error>
    </mat-form-field>
    </div>
    <div fxLayout="column" class="botoes-form">
    <input formControlName="imagem_id" style="display: none">
    <input
      style="display: none"
      type="file" (change)="onFileChanged($event)"
      #fileInput
    >
      <button *ngIf="!imagem_path" mat-raised-button class="btn-imagem" color="primary" type="button" (click)="fileInput.click()"><mat-icon> insert_photo</mat-icon>Selecionar imagem</button>
      <button *ngIf="imagem_path" mat-raised-button class="btn-imagem" color="primary" type="button" (click)="fileInput.click()"><mat-icon> insert_photo</mat-icon>Alterar imagem</button>
      <div>
      </div>
    <div>
      <button mat-raised-button type="button" class="btn-voltar" (click)="router.navigateByUrl('/carro')">Voltar</button>
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
    </div>
    </div>
  </div>
  <img *ngIf="imagem_path" class="imagem-selecionada" src="{{imagem_path}}" height="300px">
  </div>
</form>

