/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
body{
  margin: 0;
}
.mdc-data-table__cell{
  text-align: center!important;
}
.mdc-data-table__header-cell{
  text-align: center!important;
}
