/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
body{
  margin: 0;
}
.mdc-data-table__cell{
  text-align: center!important;
}
.mdc-data-table__header-cell{
  text-align: center!important;
}

mat-dialog-container:has(> app-loader-dialog){
  background-color: rgba(0,0,0,0)!important;
}

app-loader-dialog{
  background-color: rgba(0,0,0,0)!important;
}

.mdc-dialog__container .mdc-dialog__surface:has(> app-loader-dialog){
  background-color: rgba(0,0,0,0)!important;
  box-shadow: var(--mdc-dialog-container-elevation, 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0))!important;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
  box-shadow: var(--mdc-dialog-container-elevation, 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0))!important;
}

.mat-mdc-dialog-container{
  --mdc-dialog-container-elevation-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0), 0px 24px 38px 3px rgba(0, 0, 0, 0), 0px 9px 46px 8px rgba(0, 0, 0, 0)!important;
}

.list-button{
  margin-left: 5px;
  margin-top: 5px;
}

section{
  border-radius:5px;
}

h1{
  color: white!important;
}

.btn-voltar{
  margin-right: 17px;
}

html ::-webkit-scrollbar {
  width: 10px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: #7b1fa2;
}
html ::-webkit-scrollbar-track {
  border-radius: 50px;
  background: #555555;
}

.mat-mdc-tab-group{
  --mat-tab-header-inactive-label-text-color: rgba(255, 255, 255, 1);
}
